.cards {
  list-style: none;
  margin: 32px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
  height: fit-content;
}

.card {
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.cards {
  font-family: sans-serif;
  overflow-y: auto;
}

.card img {
  border-radius: 8px;
  display: block;
}

.card h3 {
  font-size: clamp(1em, 4vw, 0.5em);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card h3, .card p {
  font-size: 1em;
  margin: 0;
}

.grey-card {
  filter: grayscale(100%);
  transition: filter 0.2s;
}

.grey-card:hover {
  filter: none;
}

.card-image-container:has(.grey-card:hover) {
  border: none;
}

.card-image-container {
  border-radius: 14px;
  cursor: pointer;
}

.card-image-container:has(.grey-card) {
  border: 5px solid gold;
}

.listOfCardsHeader{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-input_container {
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.rare_holo h3, .rare_holo p {
  color: goldenrod;
}

.rare h3, .rare p {
  color: blueviolet;
}

.uncommon h3, .uncommon p {
  color: greenyellow;
}

.common h3, .common p {
  color: gray;
}