header {
  z-index: 1;
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #0c151c;
}

header button {
  background-color: #202b38;
  margin-left: 15px;
  margin-right: 15px
}

.header-main_title {
  cursor: pointer;
}

.header-right_buttons_container {
  display: flex;
}