.series {
  width: 75%;
  gap: 64px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  list-style: none;
  overflow-y: auto;
}

.serie {
  text-align: center;
}

.serie h3, .serie p {
  margin: 0;
}

.serie img {
  border-radius: 8px;
  display: block;
}
