.listOfSetsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  margin-right: 32px;
  height:inherit
}

.sets {
  gap: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width:100%;
  height: auto;
  list-style: none;
  overflow-y: auto;
}

.set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid gold;
  border-radius: 14px;
  cursor: pointer;
}

.set:hover {
  background: gold
}
.set h3, .set p {
  margin: 0;
}

.set img {
  border-radius: 8px;
  display: block;
  max-width: 100%;
}
